
/* 상단 네비바 */
.NavOut {
  border-bottom: 1px solid #f0f1f2;
  height: 5vh;
  padding: 10px;
  text-align: left;
}
.NavOut > div {
  padding: 10px;
}


/* 홈 전체화면 */
.HomeOut {
  margin: 0 100px 0 100px;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* align-items: center; */
}

/* 로그인 버튼관련 */
.loginBtn {
  border-radius: 4px;
  margin: 20px;
  margin-top: 40px;
  margin-left: 60px;
  text-align: center;
  font-size: 23px;
  height: 60px;
  width: 230px;
  background-color: #00c853;
  cursor: pointer;
  box-shadow : 1px 1px 1px black;
  transition-duration: 0.3s;
}
.loginBtn:hover {
  transform: scale(1.05);
  letter-spacing: 0.1rem;
  /* box-shadow: none; */
}
.loginBtn > div {
  margin: 20px;
  color: white;
  font-weight: bold;
}

/* 오름차순/내림차순 필터관련 */
.filterOut {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 25px;
  font-size: 15px;
}
.streamBtns {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 20px;
  margin-bottom: 10px;
}
.upStream {
  cursor: pointer;
  transition-duration: 0.3s;
  color: #5a6167;
}
.downStream {
  cursor: pointer;
  transition-duration: 0.3s;
  color: #cbd0d6;
}
.filterBtn {
  display: grid;
  grid-template-columns: 5fr 1fr;
  /* border: 1px solid black; */
  margin: 20px;
}
.filterBtnName {
  border: 2px solid #f0f1f2;
  border-radius: 4px;
  color : #cbd0d6;
  width: 50px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  /* padding: 20px; */
  transition-duration: 0.3s;
  margin-left: 30px;
}
.filterBtnName:hover {
  transform: scale(1.05);
  letter-spacing: 0.1rem;
}


/* 퀘스쳔 컴포넌트 부분 */
.QuestionOut {
  border: 2px solid #f0f1f2;
  border-radius: 5px;
  margin: 20px;
  margin-top: 0px;
}
.categoryOut {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #f0f1f2;
  margin : 20px;
  padding-bottom: 10px;
  color: #cbd0d6;
}
.categoryId {
  text-align: right;
}

.idDateOut {
  display: grid;
  grid-template-columns: 1fr 10fr;
  margin : 20px;
}
.userId {
  color: #00c853;
}
.createdAt {
  color: #7c8186;
  padding-left: 15px;
  border-left: 1px solid #f0f1f2;
}

.title {
  margin: 20px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  /* transition-duration: 0.3s; */
}
/* .title:hover {
  transform: scale(1.05);
  letter-spacing: 0.1rem;
} */
.contents {
  margin: 20px;
  color: #777b81;
}


/* 스폰서부분 */
.sponserOut {
  margin: 20px;
  border: 2px solid #f0f1f2;
  border-radius: 5px;
}
.sponsered {
  color: #cbd0d6;
  margin: 20px;
}

.sponBodyOut {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sponPics {
  /* border: 1px solid #f0f1f2; */
  width: 180px;
  height: 100px;
  background-color: #f4f5f7;
  color: #e9ecee;
  text-align: center;
  align-items: center;
  padding:40px 60px;
}
.sponContentsOut {
  margin: 0 0 20px 20px;
}
.sponTitle {
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  margin-bottom: 20px;
}
.sponContents {
  color : #777b81;
}



/* @media screen and (max-width: 901px) {
  width: 60%;
} */

.FilterOut {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.FilterBody {
  width: 450px;
  height: 250px;
  position: relative;
  background-color: white;
}
.BtnOut {
  text-align: right;
  align-items: right;

}
.FilterXBtn {
  /* width: 430px; */
  margin-top: 20px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: 0.2s all;
  border: 1px solid green;
}

.filterSave {
  width: 100px;
  height: 40px;
  text-align: center;
  left: -100;
  bottom: -100;
  background-color: #00c853;
  cursor: pointer;
  color: white;
}